---
import Layout from '../layouts/Layout.astro'
import { getAllExceptHomePage, processTable, type Page } from '../lib/api'
import { formatDate } from '../lib/dateTime'
export interface Props {
	page: Page
	modified: string
}

export async function getStaticPaths() {
	const pages = await getAllExceptHomePage()
	const routes = pages.map(page => ({
		params: { slug: page.slug },
		props: { page, modified: formatDate(page.modified) },
	}))

	return routes
}

const { page, modified } = Astro.props
const content = processTable(page.content)
---

<Layout slug={page.slug} title={page.title} footer>
	<div class="content-wrapper">
		<h1 class="content-title">
			{page.title}
		</h1>
		<div class="content-update">
			aktualisiert am {modified}
		</div>

		<div id="content" class="pb-6 pt-9 lg:pt-10" set:html={content} />
	</div>
</Layout>
