---
import Layout from '../layouts/Layout.astro'
import { getAllExceptHomePage, processTable } from '../lib/api.js'
import { formatDate } from '../lib/dateTime.js'

export async function getStaticPaths() {
	const pages = await getAllExceptHomePage()
	const routes = pages.map(page => ({
		params: { slug: page.slug },
		props: { page, modified: formatDate(page.modified) },
	}))

	return routes
}

const { page, modified } = Astro.props
const content = processTable(page.content.rendered)
---

<Layout slug={page.slug} title={page.title.rendered}>
	<div class="text-tmtGray-800 dark:text-tmtGray-400 px-4 lg:px-6">
		<h1
			class="text-tmtGray-900 dark:text-tmtGray-300 break-words pb-1 pt-3 text-center text-3xl font-bold leading-normal dark:font-semibold md:pb-2 md:text-4xl md:leading-normal lg:break-normal lg:pt-6"
		>
			{page.title.rendered}
		</h1>
		<p class="text-tmtGray-650 dark:text-tmtGray-600 text-center text-sm leading-normal md:text-base">
			aktualisiert am {modified}
		</p>

		<section id="content" class="pb-6 pt-9 lg:pt-10" set:html={content} />
	</div>
</Layout>
