---
import Layout from '../layouts/Layout.astro';
import { getAllExceptHomePage, processTable } from '../lib/api.js';
import { formatDate } from '../lib/dateTime.js';

export async function getStaticPaths() {
	const pages = await getAllExceptHomePage();
	const routes = pages.map(page => ({
		params: { slug: page.slug },
		props: { page, modified: formatDate(page.modified) }
	}));

	return routes
}

const { page, modified } = Astro.props;
const content = processTable(page.content.rendered)
---

<Layout slug={page.slug} title={page.title.rendered}>
	<div class="px-4 md:px-6 xl:text-lg text-gray-800 dark:text-gray-400">
		<h1
			class="font-bold dark:font-semibold break-words lg:break-normal text-gray-900 dark:text-gray-300 pt-6 pb-2 text-3xl md:text-4xl text-center">
			{page.title.rendered}
		</h1>
		<p class="text-center text-sm md:text-base text-gray-600">aktualisiert am {modified}</p>

		<section class="py-6" set:html={content} />
	</div>
</Layout>